.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.search-container input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-container h2 {
  color: white;
  margin-right: 20px;
}
